@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #333;
}

.navibar{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 5px auto;
    border: 1px solid aqua;
}
.navibar h1{
    color: blueviolet;
}
.navibar .navtag{
    margin-left: auto;
}
.navibar a{
    margin-left: 15px;
    text-decoration: none;
    color: aqua;
    padding: 5px;
}
.navibar a:hover{
    color: blueviolet;
    background-color: aqua;
    border-radius: 10px;
}
.content{
    margin: 40px auto;
    max-width: 600px;
    padding: 30px auto;
}
.book-blog h2{
    color: blueviolet;
    text-align: center;
   
}
.book-blog p{
    text-align: right;
    color: rgb(180, 40, 9);
}
.book-blog{
    margin: 20px 0;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align:  right;
    cursor: pointer;
    
}
.book-blog:hover{
    box-shadow: 1px 3px 5px blueviolet;
}
.blogs-book h1{
    color: rgb(1, 46, 136);
    padding: 20px 0;
}
.blogs-book button{
    margin: 3px;
}
.blogs-book{
    display: block;
    margin : 20px;
    padding: 20px;
    
    
}
.blogs-book a{
    text-decoration: none;
}
.book-detail h1{
    color: rgb(7, 196, 114);
    padding: 20px 0;
    text-align: center;
}
.book-detail h3{
    text-align: right;
    padding: 30px 0;
    color: aquamarine;
}
.book-detail div{
    text-align: left;
    color: rgb(1, 46, 136);
    padding: 10px;
    margin :10px;

}
.create h1{
    text-align: center;
    margin: 30px;
}

.create input, .create textarea,.create select, .create label {
   
   margin: 10px auto;
   padding: 10px;
   display: block;
   box-sizing: border-box;
   width: 500px;

}
.create label{
    color: rgb(38, 0, 255);
    font-weight: bold;
}
.create button{
    display: block;
    margin: 10px auto;
    
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    background-color: aquamarine ;
    
}
.book-detail button{
    display: block;
    margin: 10px auto;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: blueviolet;
    font-size: large;
    font-weight: 400;
    color: aquamarine;
}
.notfound h1{
    color: aquamarine;
    text-align: center;
    margin: 40px;
}
.notfound p{
    color: crimson;
    text-align: center;
    margin-bottom: 40px;
}
.atext{
    display: block;
    text-align: center;
    font-weight: 500;
}


